@use "../base/variables";
@use "../base/base-mixins";


.main-section{
    display: flex;
    flex-direction: column;

    .content{
        max-width: 800px;
        margin-bottom: 40px;
        .content-title{

            font-size: 20px;
            margin-left: 16px;
            font-weight: 600;
            color: variables.$main-color;
        }

        @include base-mixins.tablet{
            width: 100%;
        }
        .content-annotation-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .content-annotation{
                padding: 16px;
                width: 40%;
                margin-right: 16px;
                margin-left: 16px;
                margin-top: 8px;
                background: #FFFFFF;
                border-radius: 8px;
                
                @include base-mixins.tablet-2{
                    // width: 579px;
                    width: 100%;
                }
                @include base-mixins.tablet{
                    // width: 365px;
                    width: 100%;
                }
                


                .content-annotation__title{
                    display: flex;
                    margin-bottom: 8px;
                    h4{
                        font-size: variables.$tertiary-size;
                        font-weight: 700;
                        color: #363E48;
                    }
                }
                .content-annotation__imgs{
                    display: flex;
                    flex-wrap: wrap;
                    // img{
                    //     margin-right: 16px;
                    // }
                }
                .content-annotation__description p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #415164;
                }
            }
        }
        
    }
    
}

.content-annotation-events{
    
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
            
            .content-annotation{
                padding: 16px;
                max-width: 350px;
            @include base-mixins.mobile{
                width: 100%;
            }
            @include base-mixins.tablet-2{
                width: 100%;
            }
                margin-top: 8px;
                background: #FFFFFF;
                border-radius: 8px;
                
                @include base-mixins.tablet-2{
                    // width: 579px;
                    width: 100%;
                }
                @include base-mixins.tablet{
                    // width: 365px;
                    width: 100%;
                }
                .content-annotation__title{
                    display: flex;
                    margin-bottom: 8px;
                    h4{
                        font-size: variables.$tertiary-size;
                        font-weight: 700;
                        color: #363E48;
                    }
                }
                .content-annotation__imgs{
                    display: flex;
                    flex-wrap: wrap;
                    
                    img{
                        margin: 8px;
                    }
                }
                .content-annotation__description p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #415164;
                }
            
        }
        
    }

